
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#drum-machine{
    display: flex;
    justify-content: center; 
    flex-flow: row wrap;
    width: 21em;
    
}

@media (min-width: 320px) and (max-width: 480px) {
    #drum-machine{
        width: 100%;
    }
    .container {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
  }